[build]
  publish = "."
  command = "echo 'No build step'"

[[headers]]
  for = "/images/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
  for = "/favicon/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"
